<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32626410055-9fgf0i5b79s61j1dt5h6tgasfusqgj08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32626410055-9fgf0i5b79s61j1dt5h6tgasfusqgj08</string>
	<key>API_KEY</key>
	<string>AIzaSyD-wSYPBGKohBluIF0S0Iv4JHowcCSDW5E</string>
	<key>GCM_SENDER_ID</key>
	<string>32626410055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.WMTChat</string>
	<key>PROJECT_ID</key>
	<string>wmt-chats</string>
	<key>STORAGE_BUCKET</key>
	<string>wmt-chats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32626410055:ios:427c3f200fb7e6fe266762</string>
</dict>
</plist>